        
        html{

            text-align: center;
        }
        h1
        {
            background-color: darkgray;
            border-radius: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .botName
        {
            color: black;
            background-color: darkorange;
            border-radius: 1rem;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            font-size: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        .botVersion
        {
            font-family: 'Courier New', Courier, monospace;
            background-color:green;
            border-radius: 1rem;
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 2rem;
            color: white;
        }

        .botCard
        {
            padding: 0.5rem;
            background-color: lightgreen;
            border-radius: 1.5rem;
            font-weight: bold;
            margin: 1rem;
            width: 20%;
        }

        #bots
        {
            display:flex;
            flex-wrap: wrap;
        }

        .versionLabel
        {
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: 1.5rem;
        }